<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="BASIC_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) [%thread] %cyan(%-40.40logger{39})[%L] : %msg%n"/>

    <appender name="console_basic" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${BASIC_PATTERN}</pattern>
        </layout>
    </appender>

    <springProfile name="develop">

        <logger name="org.springframework" level="debug">
            <appender-ref ref="console_basic"/>
        </logger>

        <logger name="com.goodseed" level="debug">
            <appender-ref ref="console_basic"/>
        </logger>

        <logger name="org.springframework.boot.autoconfigure.logging">
            <level value="error"/>
        </logger>
    </springProfile>

</configuration>
