<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asuraiv.kotlinbackend.example.domain.post.mapper.PostMapper">

	<select id="findPostById" parameterType="Long" resultType="com.asuraiv.kotlinbackend.example.domain.post.vo.Post">
		SELECT *
		FROM post
		WHERE id = #{id}
	</select>

	<insert id="insertPost" parameterType="com.asuraiv.kotlinbackend.example.domain.post.vo.Post">
		INSERT INTO post(title, content, writer, createdAt, modifiedAt)
		VALUES (#{title}, #{content}, #{writer}, #{createdAt}, #{modifiedAt})
    </insert>

	<select id="findPostList" parameterType="com.asuraiv.kotlinbackend.example.domain.post.dto.PostRequest"
			resultMap="com.asuraiv.kotlinbackend.example.domain.post.vo.Post">
		SELECT *
		FROM post
		<where>
			<if test="request.searchKey != null and request.searchType == 'title'">
				AND title LIKE CONCAT('%', #{request.searchKey}, '%')
			</if>
			<if test="request.searchKey != null and request.searchType == 'content'">
				AND content LIKE CONCAT('%', #{request.searchKey}, '%')
			</if>
		</where>
		LIMIT #{request.page}, #{request.size}
	</select>

</mapper>